@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css');

/* 기본적인 스타일 설정 */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRoundEB';
    background-color: white;
}

a {
    text-decoration-line: none;
}

/* 로고 섹션 */
.logo-section {
    text-align: center;
    padding-top: 50px;
}

.logo-section img {
    max-width: 300px; /* 로고 크기 설정 */
}

/* 로그아웃 */
.logout {
    text-align: right;
    margin-right: 40px;
}

.logout a {
    color: #7d4ac9;
    text-decoration: none;
    font-family: 'NanumSquareRoundB';
}

/* 메뉴 바 */
.menu-bar {
    background-color: #9370db; /* 메뉴 바 배경 색상 */
    padding: 15px 0;
    margin-top: 10px;
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly; /* 메뉴 항목 가운데 정렬 */
}

.menu-bar ul li {
    margin: 0 20px;
}

.menu-bar ul li a {
    display: inline-block; /* transform이 적용되도록 설정 */
    transition: transform 0.3s ease; /* 부드러운 확대 효과 */
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu-bar ul li a:hover {
    transform: scale(1.1);
}

/* 메뉴바 아래 두 섹션 */
.entire-section {
    display: flex;
    flex-direction: row;
}

/* 프로필 섹션 */
.content-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 160px;
    margin-right: 20px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ddd;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: fill;
}

.email {
    margin-top: 20px;
    color: #333;
    font-size: 18px;
}

.info-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 30px;
    margin-top: 20px;
}

.info-box h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.info-box p {
    font-size: 18px;
    color: #666;
    margin: 15px 0;
}

#editButton {
    margin-top: 15px;
    padding: 10px;
    background-color: #a392ec;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'NanumSquareRoundB';
}

/* 프로필 수정 모달 창 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 어두운 배경 추가 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달이 항상 위에 보이도록 설정 */
}

.modal-content {
    position: relative; /* 닫기 버튼 위치 조정을 위한 기준 */
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    width: 80%;
    max-width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* 모달 콘텐츠가 배경보다 위에 보이도록 설정 */
}

.modal h2 {
    text-align: center;
    font-size: 25px;
    color: #333;
    margin-bottom: 30px;
}

/* 프로필 사진 미리보기 전용 스타일 */
.profile-preview {
    margin-bottom: 30px;
}

.profile-preview img {
    width: 100px;
    height: 100px;
    margin-left: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

/* 폼 스타일 */
#editForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start; /* 폼을 왼쪽 정렬 */
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%; /* form-group을 폼 전체 너비로 설정 */
}

.form-group label {
    flex: 0 0 100px; /* 레이블 너비를 고정 */
    font-size: 14px;
    color: #666;
    padding-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group input[type="password"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="file"]:focus,
.form-group input[type="password"]:focus {
    border-color: #a392ec;
    outline: none;
}

/* 토글 컨테이너 스타일 */
.toggle-container {
    display: flex;
    gap: 10px;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;

    border-radius: 20px;
    background-color: #ddd;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="radio"] {
    display: none; /* 라디오 버튼 숨기기 */
}

input[type="radio"]:checked + .toggle-label {
    background-color: #a392ec;
    color: #fff;
}

/* 버튼 스타일 */
.close-button {
    position: absolute;
    top: 20px; /* 모달 창의 위쪽에서 10px 떨어지게 설정 */
    right: 20px; /* 모달 창의 오른쪽에서 10px 떨어지게 설정 */
    font-size: 30px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
}

.close-button:hover {
    color: #555;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#saveChanges {
    padding: 12px;
    background-color: #a392ec;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'NanumSquareRoundB';
}

#saveChanges:hover {
    background-color: #6f5dbd;
}

.delete-button {
    padding: 12px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px;
    font-family: 'NanumSquareRoundB';
}

.delete-button:hover {
    background-color: #d93636;
}

/* 나의 뱃지 섹션 */
.content-section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-top: 70px;
    margin-right: 100px;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.badge-section {
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.content-section-2 h2 {
    font-size: 24px;
    margin-bottom: 35px;
    color: #333;
}

.badge-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.badge-container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.badge {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.3; /* 기본적으로 불투명하게 설정 */
    transition: opacity 0.3s;
}

.badge-container:hover .badge {
    opacity: 1; /* 마우스를 올리면 뱃지가 선명하게 보이도록 설정 */
}

.badge-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    transition: opacity 0.3s;
    z-index: 1;
}

.badge-container:hover .badge-tooltip {
    visibility: visible;
    opacity: 1;
}

.badge.active {
    opacity: 1;
}

/* 하단 버튼 섹션 */
.footer-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 110px;
}

.qa-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #a392ec;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'NanumSquareRoundB';
}

/* 모달 스타일 */
.qa-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.qa-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.qa-modal-content h2 {
    text-align: center;
    margin-bottom: 15px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical; /* 텍스트 영역의 크기 조절 */
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button {
    padding: 10px 20px;
    background-color: #a392ec;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6f5dbd;
}