/* 기본적인 스타일 설정 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* 로고 섹션 */
.logo-section {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.logo-section img {
    max-width: 200px; /* 로고 크기 설정 */
}

/* 로그아웃 */
.logout {
    text-align: right;
    margin-right: 40px;
}

.logout a {
    color: #7d4ac9;
    text-decoration: none;
    font-weight: bold;
}

/* 메뉴 바 */
.menu-bar {
    background-color: #9370db; /* 메뉴 바 배경 색상 */
    padding: 15px 0;
    margin-top: 10px;
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly; /* 메뉴 항목 가운데 정렬 */
}

.menu-bar ul li {
    margin: 0 20px;
}

.menu-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu-bar ul li a:hover {
    text-decoration: underline;
}

/* 메뉴바 아래 섹션 */
.content-section-1 {
    display: block;
    padding-left: 300px;
    margin-top: 40px;
}

.container {
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 제목 */
h2 {
    font-size: 40px;
    color: #7a6fa5;
    margin-bottom: 20px;
}

/* 키워드 컨테이너 */
.keyword-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.keyword-row {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.keyword-button {
    width: 150px;
    height: 50px;
    margin-right: 60px;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #7d4ac9;
    border-radius: 20px;
    color: #7d4ac9;
    cursor: pointer;
    text-align: center;
    font-size: 16px
}

.keyword-button:hover {
    background-color: #7d4ac9;
    color: white;
}

/* 추가하기 버튼 스타일 */
.add-button-container {
    display: flex;
    justify-content: center; /* 버튼을 가운데 정렬 */
    align-items: center;
    margin-bottom: 20px;
}

.add-button {
    background-color: white;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center; /* 이미지 수평 정렬 */
    align-items: center; /* 이미지 수직 정렬 */
    cursor: pointer;
    border-radius: 50%; /* 원형 버튼으로 만들기 */
    padding: 0; /* 여백 제거 */
}

/* 추가 버튼 이미지 스타일 */
.add-button img {
    width: 24px; /* 이미지 크기 조정 */
    height: 24px;
}


/* 각 줄을 감싸는 div */
.genre-row {
    display: flex;
    margin-top: 25px;
    margin-bottom: 15px;
    gap: 70px;
}

/* 장르 버튼 스타일 */
.genre-button {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 2px solid #7d4ac9;
    color: #7d4ac9;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.genre-button:hover {
    background-color: #7d4ac9;
    color: white;
}

.genre-button.selected {
    background-color: #7d4ac9;
    color: white;
}

/* 버튼 그룹 */
.next-button-group {
    display: flex;
    justify-content: end;
    padding-top: 40px;
    margin-right: 40px;
}

.next-button-group button {
    background-color: #9370db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.next-button-group button:hover {
    background-color: #836fc5;
}